[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  index.html 
Type=Link
URL=https://github.com/Stephanie974/sprint_03/blob/main/index.html
Icon=text-html
