[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  styles.css 
Type=Link
URL=https://github.com/Stephanie974/sprint_03/blob/main/styles.css
Icon=text-html
